# Application
PORT=3333
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000

# Observability
SERVICE_NAME=orquestria-api
LOG_LEVEL=info
LOG_PRETTY=true

# Telemetry
DD_TRACE_ENABLED=false
DD_AGENT_HOST=localhost
DD_TRACE_AGENT_PORT=8126
DD_ENV=development
DD_VERSION=0.0.1
DD_API_KEY=
DD_SITE=datadoghq.com

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
DATABASE_SCHEMA=public